modules = ["nodejs-20"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[ports]]
localPort = 3000
externalPort = 3000

[userenv]

[userenv.shared]
GOOGLE_API_KEY_2 = "AQ.Ab8RN6IpwQCaFSyYkEcGcqhL1iA2FmB3d4Iq6Srr17ZWMcBmYA"
GOOGLE_API_KEY_3 = "AQ.Ab8RN6LZl0ZqOp4NnMmjEloLwJUZaq59CF6-mOUfQ21o967CMQ"
GOOGLE_API_KEY_4 = "AQ.Ab8RN6KKmYCtsYJnL9fI_lNGl0GGRcDURQR-fCZLX6gZLxyQyw"
GOOGLE_API_KEY_5 = "AQ.Ab8RN6KkGvCpkA-f1dFwMqNbfWYLNccJKf-rjHHooGVcqwf52A"
GOOGLE_API_KEY_6 = "AQ.Ab8RN6KdUt2sWK5NvoXYPorgVym7CB7bJ5iipjDKz_27pWhxUg"
GOOGLE_API_KEY_7 = "AQ.Ab8RN6IW-8aMQhUjqtYEUuXVrB4SLGoT2TmUCTHdAJvnB4at-A"
GOOGLE_API_KEY_8 = "AQ.Ab8RN6KCQLoj4QV89QnqxAgTRVVqk4j5B9FLvYSaNaCyPCCqaw"
GOOGLE_API_KEY_9 = "AQ.Ab8RN6IYH1YYULh7J3jGhSlDgIf3yklv5eeo8Kk7graOWrWX5Q"
GOOGLE_API_KEY_10 = "AQ.Ab8RN6K3Vc4Qfxu2qKtUAs11RfmS-DYgCrypc9UaEi2K_uRYUQ"
GOOGLE_API_KEY_11 = "AQ.Ab8RN6I4sGQZV8gO3y5ykbi5K8rGcvajo5TuUP17Pq7O4F_eDA"
GOOGLE_API_KEY_12 = "AQ.Ab8RN6JvrYC8Z3nE6fwrTR3GmgAe2c3WpaQ-c4WStL5f7WBWFw"
GOOGLE_API_KEY_13 = "AQ.Ab8RN6KxtPZGb1ysFbuodZIqmWuGd7Qbo33PvgeKP4zvaGrnuQ"
GOOGLE_API_KEY_14 = "AQ.Ab8RN6K07UTQEQBAFBUrgLAZN8I7Rar4crYu4bnq3DIlEEUPZQ"
GOOGLE_API_KEY_15 = "AQ.Ab8RN6J9mbIg3fUOvH0KBYpHYNmMaB69Gay7ADh0Lqz3RSEuxQ"
GOOGLE_API_KEY_16 = "AQ.Ab8RN6JTTPV05rhBF0_lkaSgjf7a-PpDiB6hW2t4MnjybcDoig"
GOOGLE_API_KEY_17 = "AQ.Ab8RN6LQd5CayI_U9Qvs82bC75Ep1P4VKmkML7swPkA-Em4HqA"
GOOGLE_API_KEY_18 = "AQ.Ab8RN6IDIktp4DHpRhNfViy61zxVKwU4y0tkt9QjG_0GrNZd2w"
GOOGLE_API_KEY_19 = "AQ.Ab8RN6LOsNyHCoXrxkIhdERAY-u41oMHxnjmP7gG-IxXvuwFfA"
GOOGLE_API_KEY_20 = "AQ.Ab8RN6J4mybKhVpQDysogqP09k6vOGEr0u6YBJULNwvNxF788Q"
GOOGLE_API_KEY_21 = "AQ.Ab8RN6JBSTl6XCHDdMLjLS6iAWATTc_msCIvpBS4fAPkt66k1g"
GOOGLE_API_KEY_22 = "AQ.Ab8RN6KOtadpd3Vw01eW4Av-xayw9kvAcsQV_w4EShDzgy7yYQ"
GOOGLE_API_KEY_23 = "AQ.Ab8RN6ItgIcBusQ7LjXHL97zHTWQWbKEBOUG239uj8qKUlj3ww"
GOOGLE_API_KEY_24 = "AQ.Ab8RN6L7Xtmb3P8vaPKpCZ-rJsK7kRo0z7Levn5Wcdx31ykFlw"
GOOGLE_API_KEY_25 = "AQ.Ab8RN6KdEgkNi9RGOBN2mpAc1JBSwfT4Cy7ZP7jSjPy789nlAQ"
GOOGLE_API_KEY_26 = "AQ.Ab8RN6IU9SJvZWPSBAbMXjWTahBZORo79IPYS7iDlLSHObMQTg"
GOOGLE_API_KEY_27 = "AQ.Ab8RN6KZf7pVZuB4pnvk-GD6c5pgxrCU_LEUHZNetNaE2vZLQw"
GOOGLE_API_KEY_28 = "AQ.Ab8RN6JorbXCs0cLgHrCFF2Xgzq_baaZ79Tuk2RaaHqXGQ1UdQ"
GOOGLE_API_KEY_29 = "AQ.Ab8RN6LOpUpNp-MLlX4mB-03N_337Goxt6Qwurw776xt5u5_iA"
GOOGLE_API_KEY_30 = "AQ.Ab8RN6I_f53W_kACK7bORvxDjZNM3vKo_jOd5exL3FHqLzw4bA"
